<!-- Loop over each object in the projects array -->
{{#each creates as |create| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>


      <a href="/creates/{{create.id}}">{{create.title}}</a>
    </h2>

    <p>Created by {{create.user.name}} on {{format_date create.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{create.description}}
    </p>
  </div>
</div>
{{/each}}